.form{
  width: fit-content;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  &__head{
    padding: 15px;
  }
  &__title{
    text-align: center;
  }
  &__first-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  &__label{
    display: flex;
    flex-direction: column;
  }
  &__input{
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  &__checkbox{
    display: flex;
    gap: 5px;
    cursor: pointer;
  }
  &__button-container{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}
